:root {
  --bg: 14 14 12;
  --bg2: 22 22 19;
  --surface: 26 26 23;
  --surface2: 34 34 30;
  --surface3: 42 42 37;
  --border: 44 44 39;
  --border2: 58 58 51;
  --border3: 74 74 64;

  --text: 232 230 221;
  --text2: 163 159 146;
  --text3: 110 106 94;
  --text4: 74 70 60;

  --red: 232 90 79;
  --red-dim: 122 42 38;
  --red-bg: 42 16 14;
  --amber: 224 166 42;
  --amber-dim: 122 90 20;
  --amber-bg: 36 25 6;
  --green: 127 184 73;
  --green-dim: 61 90 31;
  --green-bg: 21 32 8;
  --blue: 91 159 214;
  --blue-bg: 10 24 34;
  --teal: 62 193 164;
  --teal-dim: 29 107 90;
  --teal-bg: 6 32 24;
  --purple: 165 145 232;
}

html.light {
  --bg: 247 245 238;
  --bg2: 237 233 221;
  --surface: 255 255 255;
  --surface2: 244 241 232;
  --surface3: 235 231 216;
  --border: 224 220 205;
  --border2: 207 202 184;
  --border3: 184 179 160;

  --text: 26 26 20;
  --text2: 90 86 74;
  --text3: 138 133 118;
  --text4: 179 173 154;

  --red: 198 58 44;
  --red-dim: 232 184 179;
  --red-bg: 251 234 230;
  --amber: 160 106 8;
  --amber-dim: 232 216 176;
  --amber-bg: 250 236 208;
  --green: 74 117 16;
  --green-dim: 207 224 168;
  --green-bg: 238 245 220;
  --blue: 31 95 166;
  --blue-bg: 223 236 248;
  --teal: 13 110 90;
  --teal-dim: 168 216 200;
  --teal-bg: 218 240 232;
  --purple: 91 74 178;
}
